@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  font-family:  serif Arial, sans-serif,'Times New Roman';
  

  /*Text config*/
  --primary-font-size: 2rem;
  --secondary-font-size: 1.125rem;
  --text-font-size: 0.9rem;

  --primary-font-weight: 600;
  --secondary-font-weight: 500;
  --text-font-weight: 400;


  

  /*Background color*/
  --primary-color:rgb(249, 249, 249);
  --secondary-color:rgb(255, 255, 255);
  --inverted-color:rgb(240, 240, 240);


  /*text color*/
  --text-primary-color: rgb(0,0,0);
  --text-secondary-color: rgb(255,255,255);
  --inverted-text-color: #5522D0; 
  --inverted-secondary-text-color: #bdb0da; 
  --positive-text-color:rgb(0, 214, 162);
  --warning-text-color: #e01e1e;
  --light-text-color:#666;

  /*Button color*/
  --primary-btn:rgb(85, 34, 208);
  --secondary-btn:rgb(255, 255, 255);
  --active-btn-color: rgb(218, 217, 217);
  --hover-primary-btn:rgb(38, 7, 111);
  --hover-secondary-btn:rgb(164, 164, 164);

  /*  a tag color */
  --a-text-color:rgb(85, 34, 208);






}


body{
  background-color: var(--primary-color);
  height: fit-content;
}